.single-color {
    display: flex;
    justify-content: center;
}

.event-sob {
    display: flex;
    text-align: center;
}

#images {
    width: 50%;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}