.single-color {
    display: flex;
    justify-content: center;
    
}

#images {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 70px;
}

.img1 {
    font-size: 20px;
}