* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

section {
    padding: 28px 8%;
}

body {
    background-color: #090130;
}

.btn-default {
    color: #1d1d1dad;
}
